.Preview {
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  /* outline: 2px solid pink; */
}

.Preview-board {
  /* outline: 2px solid blue; */
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8vw;
  height: 8vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Preview-board { 
    width: 8vw;
    height: 8vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Preview-board { 
    width: 8vw;
    height: 8vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Preview-board { 
    width: 8vw;
    height: 8vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Preview-board { 
    width: 8vw;
    height: 8vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Preview-board { 
    width: 8vw;
    height: 8vw;
    }
}