@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.MenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.Header {
  display: flex;
  flex-direction: column;
}
.Button {
  padding: 10px 30px;
  font-size: 2em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 60px;
  cursor: pointer;
  background: rgb(20,41,89);
  background: linear-gradient(180deg, rgba(20,41,89,1) 47%, rgba(60,120,234,1) 100%);
  color: white;
  width: 6.5em;
}
.Menu {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 20px;
  /* z-index: 100; */
}
