.Board {
  margin: 2em auto;
  display: grid;
  grid-gap: 2px;
  width: 25vw;
  height: 90vh;
  /* width: 45vw;
  height: 90vh; */
  background: rgb(32, 0, 64);
  border: 10px solid rgb(32, 0, 64);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* outline: 2px solid pink; */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Board { 
    width: 50vw; 
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Board { 
    width: 45vw; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Board { 
    /* width: 50vw;  */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Board { 
    /* width: 50vw;  */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Board { 
    width: 40vw; 
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  .Board { 
    width: 30vw; 
  }
}