.GameStats {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  /* outline: 2px solid purple; */
  height: auto;
  border-radius: 10px;
}

.GameStats__right {
  right: 0;
  bottom: 0;
  text-align: left;
}

.GameStats .value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .GameStats .value { 
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .GameStats .value { 
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .GameStats .value { 
    font-size: 2.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .GameStats .value { 
    font-size: 2.8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .GameStats .value { 
    font-size: 2.8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  .GameStats .value { 
    width: 20vw; 
  }
}