.GameStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  /* outline: 2px solid purple; */
  height: auto;
  border-radius: 10px;
}

.GameStats__right {
  right: 0;
  bottom: 0;
  text-align: left;
}

.GameStats .value {
  font-size: 2.8rem;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
}
