.Tetris {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  height: 100vh
}

.TetrisBoard {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid cyan; */

}

.TetrisInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* outline: 4px solid; */
  margin: 2em 0 2em 0;
  width: 10vw;
}
.TetrisPreviews {
  /* outline: 2px solid rgb(242, 0, 255); */
  width: 50%;
  margin-left: 20px;

}
.TetrisGameStats {
  /* outline: 2px solid cyan; */
  width: 50%;
  margin-left: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .TetrisInfo { 
    width: 8vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .TetrisInfo { 
    width: 8vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .TetrisInfo { 
    width: 8vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .TetrisInfo { 
    width: 8vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .TetrisInfo { 
    width:auto;
    }
}